<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

</head>


<a href="http://tsgd:9000/">
    <img src="images/logo_white_150px.png" width="80" height="80"  >
</a>       <i style="color: #3dd5f3">Welcome to the {{title}}</i>
<br>
</img>
<br>

<div>


    <div class="card">
        <div class="card-body">
            <div class="row" style="background-image:url('images/tisch_1080_la.png');background-repeat: no-repeat">
                <div class="col-sm">

                    <h3>In this Page we will Show you some statistics about the Games:</h3>
                    <h2> {{test1}} has Played {{count1}} Games.</h2>



                    {{#each item}}

                        <article class="alert alert-primary" role="alert">
                            Game: {{inc @index}}
                            <div>Matchdaty: {{this.time}} </div>
                                <div>{{this.Player1}} ,{{this.Player2}} X {{this.Player3}} ,{{this.Player4}} ={{this.team1}}-{{this.team2}}</div>

                            {{#ifCond this.Player1  ../test1 }}
                                {{#ifCond1 this.team1  this.team2}}
                                    <div style="background-color: #20c997">Team1: {{this.team1}}  / Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}

                            {{#ifCond this.Player1  ../test1 }}
                                {{#ifCond1 this.team2 this.team1}}
                                    <div style="background-color: red">Team1: {{this.team1}}   /  Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}

                            {{#ifCond this.Player2  ../test1 }}
                                {{#ifCond1 this.team1  this.team2}}
                                    <div style="background-color: #20c997">Team1: {{this.team1}}    /  Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}

                            {{#ifCond this.Player2  ../test1 }}
                                {{#ifCond1 this.team2 this.team1}}
                                    <div style="background-color: red">Team1: {{this.team1}}    /  Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}


                            {{#ifCond this.Player3  ../test1 }}
                                {{#ifCond1 this.team1  this.team2}}
                                    <div style="background-color: red">Team1: {{this.team1}}    /  Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}

                            {{#ifCond this.Player3  ../test1 }}
                                {{#ifCond1 this.team2  this.team1}}
                                    <div style="background-color: #20c997">Team1: {{this.team1}}    /  Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}

                            {{#ifCond this.Player4  ../test1 }}
                                {{#ifCond1 this.team1  this.team2}}
                                    <div style="background-color: red">Team1: {{this.team1}}    /  Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}
                            {{#ifCond this.Player4  ../test1 }}
                                {{#ifCond1 this.team2  this.team1}}
                                    <div style="background-color: #20c997">Team1: {{this.team1}}    /  Tema2: {{this.team2}}</div>
                                {{/ifCond1}}
                            {{/ifCond}}



                        </article>
                    {{/each}}


                </div>

                <br>
            </div>


        </div>

    </div> </div>




</div>




