<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>


<a href="http://tsgd:9000/">
    <img src="http://tsgd:9000/images/logo_white_150px.png" width="80" height="80"  >
</a>
<i style="color: #3dd5f3">Welcome to the {{title}}</i>
<br>
</img>
<br>

<nav class="navbar navbar-dark bg-dark">
    <button><a href="/register"  >register a Player</a></button>
    <button><a href="/charts"  >show games charts</a></button>
</nav>



<div id="container" style="width: 100%;" style="background-color:white;">
    <canvas id="canvas"></canvas>
</div>


</div>

<script>
    const barChartData = {
        labels: [{{#each namearray}}'{{this}}',{{/each}}],
        datasets: [

            {
                label: "Won",
                yAxisID: 'bar-stack',
                backgroundColor: "lightgreen",
                borderColor: "green",
                borderWidth: 1,
                stack: 'now',
                data: [{{wonarray}}]
            },
            {
                label: "Lost",
                yAxisID: "bar-stack",
                backgroundColor: "pink",
                borderColor: "red",
                borderWidth: 1,
                stack: 'now',
                data: [{{lostarray}}]
            },

        ]
    };

    const chartOptions = {
        responsive: true,
        scales: {
            yAxes: [
                {
                    id: "bar-stack",
                    position: "left",
                    stacked: true,
                    ticks: {
                        beginAtZero: true
                    }
                }],
            x: {
                ticks: {
                    color: 'white', beginAtZero: true,
                    font: {
                        size: 18,
                    }
                }
            }

        }
    }

    window.onload = function() {
        const ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: "bar",
            data: barChartData,
            options: chartOptions,

        });
    };


</script>
