<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>


<a href="http://localhost:9000/">
    <img src="http://localhost:9000/images/logo_white_150px.png" width="80" height="80"  >
</a>
<i style="color: #3dd5f3">Welcome to the {{title}}</i>
<br>
</img>
<br>

<nav class="navbar navbar-dark bg-dark">
    <button><a href="/register"  >register a Player</a></button>
    <button><a href="/charts"  >show games charts</a></button>
    <button><a href="/index"  >back</a></button>

</nav>



<div id="container" style="width: 100%;" style="background-color:white;">
    <canvas id="canvas"></canvas>



</div>
<br>
<h1 style="background-color: #ebebeb"> A Simple Stats Table </h1>
<h2 style="background-color: #ebebeb"> click on the name to know more about the histroy of each Player's Games </h2>
<table class="table table-bordered" style="background-color: #ebebeb">
    <tbody>
    <tr>
        <th scope="col">#</th>
    {{#each namearray}}
    <td><strong><a href="http://localhost:9000/history/{{this}}">{{this}}</a></strong></td>
    {{/each}}
    </tr>
    <tr>
        <th scope="col">Total Played</th>
        {{#each total}}
            <td><strong>{{this}}</strong></td>
        {{/each}}
    </tr>

    <tr>
        <th scope="col">Won</th>
        {{#each wonarray}}
            <td><strong>{{this}}</strong></td>
        {{/each}}
    </tr>
    <tr>
        <th scope="col">Lost</th>
        {{#each lostarray}}
            <td><strong>{{this}}</strong></td>
        {{/each}}
    </tr>
    <tr>
        <th scope="col">Win percentage</th>
        {{#each wper}}
            <td><strong>{{this}} %</strong></td>
        {{/each}}
    </tr>

    <tr>
        <th scope="col">Lose percentage</th>
        {{#each lper}}
            <td><strong>{{this}} %</strong></td>
        {{/each}}
    </tr>


    <tr type="I">
        <th scope="col">Striche</th>
        {{#each st}}
            <td type="I"><strong type="I">{{this}} </strong></td>
        {{/each}}
    </tr>
    </tbody>
</table>


<br>
<h1 style="background-color: #ebebeb"> A Simple Teams_Stats Table </h1>
<table class="table table-bordered" style="background-color: #ebebeb">
    <tbody>

    <tr>
        <th scope="col">Teams</th>
        {{#each pn2}}
            <td><strong >{{this}}</a></strong></td>
        {{/each}}
    </tr>


    <th scope="col">total played</th>
    {{#each glw}}
        <td><strong>{{this}}</a></strong></td>
    {{/each}}
    </tr>


    <th scope="col">Wins</th>
    {{#each gwin}}
        <td><strong style="color: green">{{this}}</a></strong></td>
    {{/each}}
    </tr>

    <th scope="col">Loses</th>
    {{#each glos}}
        <td><strong style="color: #c82333">{{this}}</a></strong></td>
    {{/each}}
    </tr>



    </tbody>
</table>
</div>
<br>

<script>
    const barChartData = {
        labels: [{{#each namearray}}'{{this}}',{{/each}}],
        datasets: [

            {
                label: "Won",
                yAxisID: 'bar-stack',
                backgroundColor: "lightgreen",
                borderColor: "green",
                borderWidth: 1,
                stack: 'now',
                data: [{{wonarray}}]
            },
            {
                label: "Lost",
                yAxisID: "bar-stack",
                backgroundColor: "pink",
                borderColor: "red",
                borderWidth: 1,
                stack: 'now',
                data: [{{lostarray}}]
            },

        ]
    };

    const chartOptions = {
        responsive: true,
        scales: {
            yAxes: [
                {
                    id: "bar-stack",
                    position: "left",
                    stacked: true,
                    ticks: {
                        beginAtZero: true
                    }
                }],
            x: {
                ticks: {
                    color: 'white', beginAtZero: true,
                    font: {
                        size: 18,
                    }
                }
            }

        }
    }

    window.onload = function() {
        const ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: "bar",
            data: barChartData,
            options: chartOptions,

        });
    };


</script>
