<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8"/>
  <title>{{title}}</title>
      <link rel="stylesheet" href="{{BaseUrl}}/stylesheets/bootstrap.css">
      <link rel="stylesheet" href="{{BaseUrl}}/stylesheets/form.css">
      <link rel="stylesheet" href="{{BaseUrl}}/stylesheets/newmatch.css">
      <link rel="stylesheet" href="{{BaseUrl}}/stylesheets/nix.css">




      <link rel="stylesheet" href="{{BaseUrl}}/javascripts/bootstrap.js">

      <!-- CSS only -->
  </head>
<body class="container">


{{{body}}}

</body>
</html>
